In [5]:
import numpy as np
import pandas as pd
import matplotlib as plt
import streamlit as st

In [6]:
df = pd.read_csv('worldcities.csv')

In [10]:
df[df.capital.isin(['primary', 'admin'])]

,city,city_ascii,lat,lon,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37.977000,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34.540000,1360771077
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29.617000,1356872604
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,Mahārāshtra,admin,23.355000,1356226629
4,Manila,Manila,14.6000,120.9833,Philippines,PH,PHL,Manila,primary,23.088000,1608618140
...,...,...,...,...,...,...,...,...,...,...,...
713,Raipur,Raipur,21.2379,81.6337,India,IN,IND,Chhattīsgarh,admin,1.010087,1356374983
715,Arequipa,Arequipa,-16.3988,-71.5369,Peru,PE,PER,Arequipa,admin,1.008290,1604723954
716,Port Harcourt,Port Harcourt,4.7500,7.0000,Nigeria,NG,NGA,Rivers,admin,1.005904,1566070649
720,Dnipro,Dnipro,48.4500,34.9833,Ukraine,UA,UKR,Dnipropetrovs’ka Oblast’,admin,1.002111,1804152933
722,Quetta,Quetta,30.1920,67.0070,Pakistan,PK,PAK,Balochistān,admin,1.001205,1586556108